{
  "trailingComma": "none",
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    }
  ],

  "singleQuote": true, 
  "semi": true, 
  "useTabs": false, 
  "tabWidth": 2 
}
